<ion-view title="Add Source" id="page10">
  <ion-content padding="true" class="has-header">
    <form id="addSource-form3" class="list">
      <label class="item item-input" id="addSource-input1">
        <input type="text" placeholder="Repo">
      </label>
    </form>
    <div id="addSource-button-bar1" class="button-bar">
      <a ui-sref="sources()" id="addSource-button11" class="button button-positive button-block">Add</a>
      <a ui-sref="sources()" id="addSource-button12" class="button button-positive button-block">Cancel</a>
    </div>
  </ion-content>
</ion-view>