<ion-view title="Bolders" id="page11">
  <ion-content padding="true" class="has-header">
    <h1 id="bolders-heading8" style="color:#000000;">Bolders</h1>
    <ion-list id="bolders-list11">
      <ion-item class="item-thumbnail-left" id="bolders-list-item16">
        <img src="img/y9h7rAp8ROmfXuaZ4BTG_ca.ndoizo.bolders.png">
        <h2>Bigger bolder folders</h2>
        <p style="white-space:normal;">Compatible with iOS 8 through 12</p>
      </ion-item>
    </ion-list>
    <a href-inappbrowser="http://apt.thebigboss.org/repofiles/cydia/debs2.0/bolders_1.2.deb" id="bolders-button6" class="button button-balanced button-block">Get</a>
  </ion-content>
</ion-view>