<ion-view title="Gradient" id="page13">
  <ion-content padding="true" class="has-header">
    <h1 id="gradient-heading9" style="color:#000000;">Gradient</h1>
    <ion-list id="gradient-list13">
      <ion-item class="item-thumbnail-left" id="gradient-list-item24">
        <img src="img/G2bJSX00TqM1gtH5e4Pb_Icon.png">
        <h2>A gradient iOS theme</h2>
        <p style="white-space:normal;">Compatible with iOS 7 through 12</p>
      </ion-item>
    </ion-list>
    <a href-inappbrowser="https://github.com/willbraffman/cydia/raw/gh-pages/debs/com.yourepo.willbraff.gradient.deb" id="gradient-button8" class="button button-balanced button-block">Get</a>
  </ion-content>
</ion-view>