<ion-view title="Home" id="page2">
  <ion-content padding="true" class="has-header">
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider1" delegate-handle="slider1" id="home-slider1" style="width:100%;height:200px;">
      <ion-slide-page id="home-slide24" style="background:url(&quot;img/XRmTXH0yQr2SkY6nR4Rb_Unknown-4.jpeg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="home-slide25" style="background:url(&quot;img/tKovymaoQQa2gLs5afQ9_F5NfOJiH54OHe-UfrPo3428fXJ53-e60g4-iYMC-nCc.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="home-slide26" style="background:url(&quot;img/LHmIk7kqR2iOFomAfyJg_Nine.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
    </ion-slides>
    <div class="spacer" style="width: 300px; height: 16px;"></div>
    <a ui-sref="tabsController.login()" id="home-button13" class="button button-balanced icon ion-log-in"></a>
    <h1 id="home-heading1" style="color:#5BC913;">Top Tweaks</h1>
    <ion-list id="home-list2">
      <ion-item id="home-list-item2" ui-sref="tabsController.neptune()">Neptune</ion-item>
      <ion-item id="home-list-item4" ui-sref="tabsController.ultrasound()">Ultrasound</ion-item>
    </ion-list>
    <ion-list id="home-list14">
      <ion-item id="home-list-item18" ui-sref="tabsController.snowboard()">Snowboard</ion-item>
    </ion-list>
    <h1 id="home-heading7" style="color:#5BC913;">Recommended Tweaks</h1>
    <ion-list id="home-list10">
      <ion-item id="home-list-item15" ui-sref="tabsController.bolders()">Bolders</ion-item>
      <ion-item id="home-list-item8" ui-sref="tabsController.sixLS()">Six(LS)</ion-item>
      <ion-item id="home-list-item9" ui-sref="tabsController.nine()">Nine</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 46px;"></div>
    <div id="home-markdown2" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Designed by wbraffman@gmail.com</p>
    </div>
  </ion-content>
</ion-view>