<ion-view title="Neptune" id="page5">
  <ion-content padding="true" class="has-header">
    <h1 id="neptune-heading2" style="color:#000000;">Neptune</h1>
    <ion-list id="neptune-list3">
      <ion-item class="item-thumbnail-left" id="neptune-list-item3">
        <img src="img/lO3R0LyRTc2ZWr8HEpm7_icon2x.png">
        <h2>Enable Apple's modern fluid gestural interface on all devices.</h2>
        <p>Compatible with iOS 12</p>
      </ion-item>
    </ion-list>
    <a href-inappbrowser="https://repo.packix.com/api/PackageVersions/5cba246841e7d40019a1f2af.deb" id="neptune-button1" class="button button-balanced button-block">Get</a>
  </ion-content>
</ion-view>