<ion-view title="New" id="page3">
  <ion-content padding="true" class="has-header">
    <h1 id="new-heading6" style="color:#000000;">New</h1>
    <ion-list id="new-list7">
      <ion-item id="new-list-item10" ui-sref="tabsController.neptune()">Neptune</ion-item>
      <ion-item id="new-list-item11" ui-sref="tabsController.ultrasound()">Ultrasound</ion-item>
      <ion-item id="new-list-item12" ui-sref="tabsController.sixLS()">Six(LS)</ion-item>
      <ion-item id="new-list-item13" ui-sref="tabsController.nine()">Nine</ion-item>
    </ion-list>
  </ion-content>
</ion-view>