<ion-view title="Nine" id="page8">
  <ion-content padding="true" class="has-header">
    <h1 id="nine-heading5" style="color:#000000;">Nine</h1>
    <ion-list id="nine-list6">
      <ion-item class="item-thumbnail-left" id="nine-list-item7">
        <img src="img/OA2OltTaQ3Se1meYDvN2_com.thecasle.nine.png">
        <h2>Reworks the Notification Center</h2>
        <p style="white-space:normal;">Compatible with iOS 11 and 12</p>
      </ion-item>
    </ion-list>
    <button id="nine-button5" class="button button-balanced button-block">Get</button>
  </ion-content>
</ion-view>