<ion-view title="Six(LS)" id="page7">
  <ion-content padding="true" class="has-header">
    <h1 id="sixLS-heading4" style="color:#000000;">Six(LS)</h1>
    <ion-list id="sixLS-list5">
      <ion-item class="item-thumbnail-left" id="sixLS-list-item6">
        <img src="img/HLi2W8OMTVkEXPDlPMH9_images.jpeg">
        <h2>iOS 6 Style Lock Screen!</h2>
        <p style="white-space:normal;">Compatible with iOS 11 and 12</p>
      </ion-item>
    </ion-list>
    <a href-inappbrowser="https://skitty.xyz/repo/debs/xyz.skitty.sixls_1.0.3_iphoneos-arm.deb" id="sixLS-button4" class="button button-balanced button-block">Get</a>
  </ion-content>
</ion-view>