<ion-view title="Snowboard" id="page14">
  <ion-content padding="true" class="has-header">
    <h1 id="snowboard-heading10" style="color:#000000;">Snowboard</h1>
    <ion-list id="snowboard-list15">
      <ion-item class="item-thumbnail-left" id="snowboard-list-item19">
        <img src="img/lFEBGsSQ4S79teEVzCFF_com.spark.snowboard.png">
        <h2>Snowboard theming engine</h2>
        <p style="white-space:normal;">Compatible with iOS 8 through 12</p>
      </ion-item>
    </ion-list>
    <a href-inappbrowser="https://sparkdev.me/download/com.spark.snowboard/1.1.6.deb" id="snowboard-button9" class="button button-balanced button-block">Get</a>
  </ion-content>
</ion-view>