<ion-view title="Sources +" hide-back-button="true" nav-transition="none" id="page18">
  <ion-content padding="true" class="has-header">
    <div id="sources2-button-bar3" class="button-bar">
      <a ui-sref="sources()" id="sources2-button24" class="button button-light button-block">Sources</a>
      <button id="sources2-button25" class="button button-positive button-block">Sources +</button>
    </div>
    <ion-list id="sources2-list18">
      <ion-item id="sources2-list-item27" href-inappbrowser="https://repo.packix.com/">Packix</ion-item>
    </ion-list>
  </ion-content>
</ion-view>