<ion-view title="Sources" nav-transition="none" id="page4">
  <ion-content padding="true" class="has-header">
    <div id="sources-button-bar2" class="button-bar">
      <button id="sources-button21" class="button button-positive button-block">Sources</button>
      <a ui-sref="sources2()" id="sources-button22" class="button button-light button-block">Sources +</a>
    </div>
    <a ui-sref="addSource()" id="sources-button7" style="font-size:-9px;border-radius:6px 6px 6px 6px;" class="button button-balanced button-small">+</a>
    <ion-list id="sources-list9">
      <ion-item id="sources-list-item20" ui-sref="willbraffmanSRepo()">willbraffman.github.io/cydia</ion-item>
    </ion-list>
  </ion-content>
</ion-view>