<ion-view title="Ultrasound" id="page6">
  <ion-content padding="true" class="has-header">
    <h1 id="ultrasound-heading3" style="color:#000000;">Ultrasound</h1>
    <ion-list id="ultrasound-list4">
      <ion-item class="item-thumbnail-left" id="ultrasound-list-item5">
        <img src="img/YwOHTenhQ1y3dRCHESED_163005814670360576.08d5e7974fe22f09dae72199305a7f80-256.png">
        <h2>The volume HUD you deserve.</h2>
        <p style="white-space:normal;">Compatible with iOS 11 and 12</p>
      </ion-item>
    </ion-list>
    <a href-inappbrowser="https://repo.dynastic.co/download/88709621761441792/159305592324751360.deb" id="ultrasound-button3" class="button button-balanced button-block">Get</a>
  </ion-content>
</ion-view>